---
---

$dark-blue: #17286f;
$blue: #4ad9bd;
$bg: #f5f5f5;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font-family: "Open Sans";
}

a {
  font-family: "Open Sans";
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: "";
  clear: both;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.head {
  height: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
}

.btn {
  width: 14.38rem;
  line-height: 2.5rem;
  background: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 0.81rem;
  letter-spacing: 2px;
  border: 2px solid $dark-blue;
  text-transform: uppercase;
  color: $dark-blue;
  cursor: pointer;
  transition: 300ms;
  font-family: inherit;
  &:hover {
    background: $dark-blue;
    color: #fff;
  }
}

.bold {
  font-weight: bold;
}

.semibold {
  font-weight: 600;
}

.light {
  font-weight: 300;
}

.dark-blue {
  color: $dark-blue;
}

.blue {
  color: $blue;
}

@import 'header';
@import 'navigation';
@import 'collections';
@import 'showcase';
@import 'collections';
@import 'promotions';
@import 'footer';
@import 'users';
@import 'campaigns';
@import 'products';
@import 'brands';
@import 'cart';
@import 'delivery';
@import 'support';
@import 'account';
@import 'modals';
@import 'orders';
@import 'welcome';
@import 'pages';

//======== Timer

.timer {
  width: 80%;
  .countdown-row {
    display: flex;
    justify-content: space-between;
  }
  .countdown-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .countdown-period {
    text-align: center;
    height: 1.5rem;
    font-size: 0.6rem;
  }
  .countdown-amount {
    background: $dark-blue;
    width: 2.7rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1.6px;
  }
}

.blue-price {
  color: $blue;
  font-weight: bold;
  font-size: 1.1rem;
}

.dark-blue-price {
  color: $dark-blue;
  font-weight: bold;
  font-size: 1.1rem;
}

.fancybox-close-small {
  right: 3rem;
  top: 3rem;
  &:hover:after {
    background: none;
  }
  &:after {
    transition: 300ms;
    font-size: 50px;
  }
}

// 'More' button

.more {
  margin-top: 2rem;
  button {
    line-height: 2.5rem;
    border: solid 1px #c6cdd7;
    text-align: center;
    color: $dark-blue;
    width: 100%;
    background: none;
    cursor: pointer;
    transition: 300ms;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 3px;
    font-weight: 600;
    &:hover {
      border: 1px solid $dark-blue;
    }
  }
}

//======= Bread

.bread {
  padding: 2.5rem 0;
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    li {
      margin: 0.3rem 0;
      color: #4a4a4a;
      letter-spacing: 1px;
      font-size: 0.88rem;
      display: flex;
      align-items: center;
      &:last-child:after {
        display: none;
      }
      &:after {
        content: "\f105";
        display: block;
        margin: 0 1rem;
        color: #8a93a3;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    a {
      font-size: 0.88rem;
      letter-spacing: 1px;
      color: #8a93a3;
      &:hover {
        color: $dark-blue;
      }
    }
  }
}

//====== Custom input type radio

.radio {
  width: 16px;
  height: 16px;
  position: relative;
  margin-right: 1rem;
  flex-shrink: 0;
  span {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #c6cdd7;
    border-radius: 50%;
    z-index: 3;
    transition: 300ms;
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      border: 5px solid $blue;
      opacity: 0;
      transition: 300ms;
    }
  }
  input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    z-index: 5;
    &:checked + span {
      background: #fff;
      &:after {
        opacity: 1;
      }
    }
  }
}

//====== Select

select {
  width: 100%;
  font-size: 0.81rem;
  height: 2.5rem;
  border: solid 1px #c6cdd7;
  font-family: inherit;
  padding: 0 1rem;
  appearance: none;
  -webkit-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  background: #fff url("../images/icon-select-arr-down.png") 95% 50% no-repeat;
}

//======= Checkbox

.checkbox {
  width: 16px;
  height: 16px;
  position: relative;
  flex-shrink: 0;
  margin-right: 0.8rem;
  span {
    background: #c6cdd7;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px;
    &:after {
      content: "\f00c";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 0.6rem;
      color: #fff;
      opacity: 0;
      transition: 300ms;
    }
  }
  input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 5;
    &:checked + span {
      background: $blue;
      &:after {
        opacity: 1;
      }
    }
  }
}
