$dark-blue: #17286f;
$blue: #4ad9bd;
$bg: #f5f5f5;

@media only screen and (max-width: 1300px) {
  .another-product-carousel {
    .slick-arrow {
      left: -1rem;
    }
    .slick-next {
      left: auto;
      right: -1rem;
    }
  }
  .get-bonus-shares {
    .slick-arrow {
      left: -1rem;
    }
    .slick-next {
      left: auto;
      right: -1rem;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
  .footer-sub {
    width: 17rem;
  }
  .product-gallery {
    width: 34.38rem;
  }
  .product-descr {
    margin-right: 0;
    padding-right: 2.5rem;
    width: 38rem;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .logo {
    top: 1rem;
  }
  .nav ul li {
    margin-right: 0.5rem;
    a {
      padding: 0 0.3rem;
    }
  }
  .showcase {
    justify-content: center;
    &-photo {
      width: 50%;
      order: 3;
      height: 500px;
    }
    &-descr {
      width: 50%;
    }
    &-product {
      width: 50%;
    }
  }
  .collection-items > div {
    width: 50%;
    border-bottom: 1px solid #f5f5f5;
  }
  .shares-time {
    font-size: 0.8rem;
  }
  .footer-sub {
    width: 100%;
    margin-top: 3rem;
    text-align: center;
  }
  .footer {
    flex-wrap: wrap;
  }
  .footer-sub-form {
    width: 50%;
    margin: 0 auto;
  }
  .location-container {
    width: 750px;
  }
  .signup-header {
    padding: 3rem 1.5rem;
    flex-direction: column-reverse;
    align-items: flex-start;
    &-img {
      margin-bottom: 2rem;
    }
  }
  .signup-advan-item {
    padding: 1rem;
  }
  .collection-sliders {
    .showcase-product {
      width: 33.33%;
      .slick-arrow {
        left: 1rem;
      }
      .slick-next {
        left: auto;
        right: 1rem;
      }
    }
  }
  .products-item {
    width: 32%;
    &:nth-child(4n) {
      margin-right: 2%;
    }
    &:nth-child(3n) {
      margin-right: 0%;
    }
  }
  .product-gallery-mini {
    margin-left: 1rem;
    width: 5rem;
    .item {
      height: 5rem;
    }
  }
  .product-info {
    padding-left: 1.5rem;
  }
  .product-gallery {
    width: 24rem;
  }
  .product-gallery-main {
    height: 320px;
  }
  .product-money-back {
    margin-bottom: 1.5rem;
  }
  .product-add {
    margin-bottom: 2rem;
  }
  .product-descr {
    width: 25.5rem;
  }
  .product-property-list {
    display: block;
  }
  .brands-img img {
    max-width: 65%;
    max-height: 65%;
  }
  .brands-item {
    width: 32%;
    &:nth-child(2n) {
      margin-right: 2%;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  .cart-inner {
    display: block;
  }
  .cart-content {
    width: 100%;
  }
  .cart-cheque-wrap {
    width: 100%;
    margin-bottom: 4rem;
  }
  .cart-cheque {
    &.fixed {
      position: static;
      width: 100% !important;
    }
    &.abs {
      position: static;
      width: 100% !important;
    }
  }
  .delivery-container {
    display: block;
    padding: 2rem;
  }
  .delivery-form {
    width: 100%;
    margin-bottom: 2rem;
  }
  .delivery-cheque {
    width: 100%;
  }
  .get-bonus-item {
    display: block;
    text-align: left !important;
  }
  .get-bonus-img {
    margin: 0 0 2rem 0 !important;
  }
  .support-item {
    width: 50%;
  }
  .support-footer {
    display: block;
  }
  .contacts {
    margin-bottom: 4rem;
  }
  .my-account-content {
    width: 73%;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
  .location-container {
    width: 550px;
  }
  .location-manually {
    display: block;
    .input {
      margin-bottom: 20px;
    }
  }
  .location {
    margin-right: 1rem;
  }
  .search input {
    width: 7rem;
  }
  .burger-wrap {
    display: block;
    width: 30px;
    margin-left: 0.8rem;
  }
  .burger-wrap a {
    cursor: pointer;
    padding: 12px 0;
    display: block;
  }
  .burger-wrap a span {
    position: relative;
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 7px;
    background: $dark-blue;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .burger-wrap a span:before,
  .burger-wrap a span:after {
    position: absolute;
    background: $dark-blue;
    content: "";
    width: 30px;
    height: 5px;
    left: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 7px;
  }
  .burger-wrap a span:before {
    top: -8px;
  }
  .burger-wrap a span:after {
    top: 8px;
  }

  .burger-wrap a.active span {
    background: transparent;
  }
  .burger-wrap a.active span:before {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
    transform: rotate(45deg) translate(5px, 6px);
  }
  a.active span:after {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
    transform: rotate(-45deg) translate(5px, -6px);
  }
  .nav ul {
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    right: 100%;
    z-index: -1;
    background: $dark-blue;
    z-index: 9999;
    padding: 1rem 0;
    visibility: hidden;
    transition: 300ms;
    &.active {
      z-index: 999;
      right: 0;
      visibility: visible;
    }
    li {
      display: block;
      text-align: center;
      a {
        color: #fff;
        &:after {
          display: none;
        }
      }
    }
  }
  .navigation {
    position: relative;
    padding: 1rem 0;
  }
  .header {
    padding-top: 5.5rem;
  }
  .showcase-descr {
    width: 100%;
  }
  .showcase-photo {
    height: auto;
  }
  .showcase-prices {
    padding-bottom: 2rem;
  }
  .shares-item {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
  .shares {
    padding-bottom: 0;
  }
  .footer-payment {
    width: 100%;
    margin-top: 2rem;
    img {
      margin-right: 2rem;
    }
  }
  .footer-payment-methods {
    justify-content: flex-start;
  }
  .showcase-name {
    max-height: 100%;
    font-size: 2rem;
  }
  .showcase-text {
    max-height: 100%;
  }
  .footer-button {
    text-align: center;
  }
  .signup-header-img img {
    width: 160px;
  }
  .signup-header-content {
    font-size: 1.5rem;
  }
  .signup-header-content .small {
    font-size: 1.3rem;
  }
  .signup-advan-item {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 2rem;
  }
  .signup-advan-wrap:after {
    height: 800px;
  }
  .collection-sliders {
    flex-wrap: wrap;
    padding-bottom: 3rem;
    .showcase-product {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  .cam-product {
    display: block;
    &-info {
      width: 100%;
    }
    &-img {
      width: 100%;
      height: 300px;
    }
  }
  .products-item {
    width: 49%;
    &:nth-child(3n) {
      margin-right: 2%;
    }
    &:nth-child(2n) {
      margin-right: 0%;
    }
  }
  .product {
    display: block;
  }
  .product-gallery {
    width: 100%;
    margin-right: 0;
    display: block;
    margin-bottom: 2rem;
  }
  .product-gallery-mini {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    margin-left: 0;
    .item {
      width: 6rem;
      height: 6rem;
      margin-right: 1rem;
    }
  }
  .product-info {
    padding-left: 0;
  }
  .product-content {
    display: block;
  }
  .product-descr {
    width: 100%;
    padding-right: 0;
    margin-bottom: 2rem;
  }
  .support-item {
    width: 100%;
    padding-right: 0;
  }
  .support-inputs {
    width: 100%;
    margin-right: 0;
  }
  .my-account {
    display: block;
    &-sidebar {
      margin-bottom: 3.5rem;
    }
    &-content {
      width: 100%;
    }
  }
  .details-notifications {
    display: block;
    label {
      margin-top: 1.5rem;
    }
  }
  #modal-change-password {
    width: 290px;
    padding: 0 1rem 1rem;
  }
  .welcome-bonus {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .orders {
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 575px) {
  .location-container {
    width: 280px;
  }
  .header {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .header-info {
    justify-content: center;
  }
  .search input {
    border-bottom: 1px solid $blue;
    height: 1.5rem;
  }
  .head {
    height: 10rem;
    font-size: 2rem;
  }
  .location-modal .head {
    padding: 2rem 0;
  }
  .fancybox-close-small {
    right: 1rem;
    top: 1rem;
  }
  .location-cities ul li {
    width: 100%;
  }
  .showcase-content {
    padding: 1.5rem;
  }
  .showcase-product {
    width: 100%;
    padding-top: 1.5rem;
  }
  .showcase-photo {
    width: 100%;
    height: 400px;
  }
  .collection-items > div {
    width: 100%;
    border-right: 0 !important;
    border-left: 0 !important;
  }
  .collection-brand {
    order: -1;
  }
  .footer-nav {
    padding-bottom: 2rem;
    margin-top: 1rem;
  }
  .footer-sub-form {
    width: 100%;
  }
  .signup-form form {
    max-width: 100%;
  }
  .signup-header {
    padding: 2rem 0;
  }
  .signup-advan-wrap:after {
    height: 1100px;
  }
  .signup-form form {
    padding: 1rem;
  }
  .signup-form-agreement {
    padding: 0 0 1.2rem;
  }
  .signup-form-social {
    display: block;
    &-link {
      width: 200px;
      margin: 0 auto 1rem;
    }
  }
  .login {
    padding-right: 0;
  }
  .balance {
    height: 1rem;
  }
  .products-item {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 2rem;
  }
  .product-gallery-mini .item {
    width: 5rem;
    height: 5rem;
  }
  .product .btn {
    font-size: 0.7rem;
  }
  .brands-item {
    width: 49%;
    &:nth-child(3n) {
      margin-right: 2%;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  .brands-name {
    letter-spacing: 0.5px;
  }
  .cart-table {
    overflow-y: scroll;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    table {
      min-width: 570px;
      margin-bottom: 0;
    }
  }
  .cart-payment-method {
    display: block;
  }
  .cart .option {
    margin-bottom: 1rem;
  }
  .cart label {
    margin-bottom: 1rem;
  }
  .cart-cost {
    display: block;
  }
  .cart-city {
    display: block;
  }
  .cart-delivery-method {
    display: block;
  }
  .cart-product {
    justify-content: center;
    text-align: left;
  }
  .cart-cheque ul {
    padding: 1rem;
    li {
      font-size: 0.8rem;
    }
    .price {
      text-align: right;
      font-size: 1rem;
      padding-left: 1rem;
    }
    .big-price {
      font-size: 1rem;
      padding-left: 1rem;
    }
  }
  .input input {
    padding: 0 1rem;
  }
  .cart-ordering-item {
    padding: 2rem 0;
    label {
      margin-left: 0;
    }
  }
  .delivery-city {
    display: block;
    .input {
      margin-left: 0;
      margin-top: 1.5rem;
    }
  }
  .delivery-method {
    display: block;
  }
  .delivery-methods {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .delivery-container {
    padding: 1rem;
  }
  .delivery-cheque {
    padding: 0 1rem;
    ul {
      padding: 1rem 0;
    }
  }
  .get-bonus-item {
    padding: 1rem;
  }
  .get-bonus-img {
    width: 10rem;
  }
  .get-bonus-head {
    font-size: 1.88rem;
  }
  .get-bonus-text {
    font-size: 1.4rem;
  }
  .support {
    padding: 1rem;
  }
  .support-messenger-items {
    flex-wrap: wrap;
  }
  .support-messenger-item {
    margin-bottom: 1rem;
    width: 100%;
    margin-right: 0;
  }
  .details-birthday {
    display: block;
    .select {
      margin-top: 1.5rem;
      width: 100%;
      max-width: 300px;
    }
  }
  .details-birthday-selects {
    display: block;
  }
  .details-sex {
    display: block;
    label {
      margin-right: 0;
      margin-top: 1.5rem;
    }
  }
  .details-item .label {
    min-width: 0;
  }
  .details-password {
    display: block;
    .btn {
      margin-top: 1.5rem;
    }
  }
  .orders-info-row {
    display: block;
  }
  .orders-info-item {
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .orders-info {
    padding: 1rem;
  }
  .welcome-bonus {
    padding: 1rem;
    margin: 1rem;
  }
  .welcome-head,
  .welcome-caption {
    font-size: 1.5rem;
  }
  .welcome-prize-text {
    font-size: 1.1rem;
  }
  .welcome-prize-item .text {
    font-size: 0.7rem;
  }
  .welcome-prize-item .value {
    font-size: 2.5rem;
  }
  .welcome-prize-item {
    padding: 1rem;
  }
}
