$dark-blue: #17286f;
$blue: #4ad9bd;
$bg: #f5f5f5;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Open Sans';
}

a {
  font-family: 'Open Sans';
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.head {
  height: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
}

.btn {
  width: 14.38rem;
  line-height: 2.5rem;
  background: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 0.81rem;
  letter-spacing: 2px;
  border: 2px solid $dark-blue;
  text-transform: uppercase;
  color: $dark-blue;
  cursor: pointer;
  transition: 300ms;
  &:hover {
    background: $dark-blue;
    color: #fff;
  }
}

.bold {
  font-weight: bold;
}

.semibold {
  font-weight: 600;
}

.light {
  font-weight: 300;
}

//========= Header

.header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 4.69rem;
  &-wrap {
    border-bottom: 1px solid $bg;
  }
  &-info {
    display: flex;
    align-items: center;
    height: 4.69rem;
    padding-left: .8rem;
  }
}

.location {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  color: $dark-blue;
  margin-right: 3rem;
  cursor: pointer;
  i {
    margin-right: 1rem;
    color: $blue;
    font-size: 1rem;
  }
}

.burger-wrap {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  i {
    font-size: 1rem;
    color: $blue;
    margin-right: 1rem;
  }
  input {
    margin-top: .2rem;
    width: 13.75rem;
    color: $dark-blue;
    letter-spacing: 2px;
    border: none;
    &::-webkit-input-placeholder { 
      color: $dark-blue;
    }
    &:-moz-placeholder { 
      color: $dark-blue;
    }
    &::-moz-placeholder { 
      color: $dark-blue;
    }
    &:-ms-input-placeholder {
      color: $dark-blue;
    }
  }
}

.login {
  display: flex;
  align-items: center;
  padding-right: .9rem;
  &-link {
    font-size: 1rem;
    text-transform: uppercase;
    color: $dark-blue;
    letter-spacing: 2px;
    &:hover {
      color: $blue;
    }
  }
  &-separate {
    margin: 0 0.5rem;
  }
  &-img {
    margin-left: 1rem;
  }
}

.logo {
  position: absolute;
  left: 50%;
  top: 2.5rem;
  width: 7.88rem;
  transform: translateX(-50%);
}

.balance {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #1e1e3c;
  height: 4.69rem;
  &.active {
    i {
      transform: rotate(180deg);
    }
  }
  &-text {
    cursor: pointer;
  }
  .size {
    font-weight: 600;
    color: $blue;
    margin-right: .2rem;
  }
  i {
    color: $blue;
    margin: 0 1rem;
    transition: 300ms;
  }
  &-nav {
    position: absolute;
    top: 100%;
    right: 0;
    width: 210px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
    margin-top: 15px;
    z-index: -1;
    visibility: hidden;
    padding: 1.5rem;
    opacity: 0;
    transition: 300ms;
    &.active {
      margin-top: 1px;
      opacity: 1;
      visibility: visible;
      z-index: 9999;
    }
    li {
      margin-bottom: 1.5rem;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-size: 1rem;
        color: #8a93a3;
        letter-spacing: 1px;
        &:hover {
          color: $dark-blue;
        }
      }
    }
  }
}

//========= Navigation

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #d8d8d8;
}

.nav {
  ul {
    display: flex;
    li {
      margin-right: 1rem;
      a {
        line-height: 4;
        padding: 0 1rem;
        color: #323232;
        font-size: .9rem;
        position: relative;
        letter-spacing: 1px;
        &:hover {
          color: $dark-blue;
          &:after {
            opacity: 1;
          }
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          height: 3px;
          background: $blue;
          opacity: 0;
          transition: 300ms;
        }
      }
    }
  }
}

.to-cart {
  padding-right: .8rem;
  &-link {
    color: $dark-blue;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    &:hover {
      color: $blue;
    }
  }
  i {
    margin-left: .7rem;
    color: $blue;
    font-size: 1rem;
  }
  &-amount {
    letter-spacing: 0;
    text-transform: none;
    font-size: .8rem;
    .num {
      font-size: 1rem;
    }
  }
}

//======== Collections

.collections-wrap {
  position: relative;
  background: $bg;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 31rem;
    background: $dark-blue;
  }
}

.collections {
  position: relative;
  z-index: 5;
  &-head {
    color: #fff;
  }
}

.showcase {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.8rem;
}

// Showcase description

.showcase {
  &-descr {
    background-color: #eef7e8;
    display: flex;
    flex-direction: column;
    width: 33.33%;
    flex-shrink: 0;
  }
  &-content {
    padding: 2.5rem 3rem 2rem;
    flex-grow: 10;
  }
  &-name {
    font-size: 2.5rem;
    line-height: 1.1;
    font-weight: 300;
    max-height: 5.6rem;
    overflow: hidden;
    margin-bottom: 2rem;
    color: $dark-blue;
  }
  &-text {
    font-size: .95em;
    line-height: 2;
    max-height: 11.25rem;
    overflow: hidden;
    color: $dark-blue;
  }
  &-buy {
    width: 100%;
    line-height: 4.3rem;
    font-size: .8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    background: $dark-blue;
    text-align: center;
    &:hover {
      background: $blue;
    }
  }
  &-timer {
    background-color: rgba(255, 255, 255, 0.5);
    height: 7.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

//======== Timer

.timer {
  width: 80%;
  .countdown-row {
    display: flex;
    justify-content: space-between;
  }
  .countdown-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .countdown-period {
    text-align: center;
    height: 1.5rem;
    font-size: .6rem;
  }
  .countdown-amount {
    background: $dark-blue;
    width: 2.7rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1.6px;
  }
}

//========= Showcase photo

.showcase {
  &-photo {
    background-position: 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    flex-shrink: 0;
  }
  &-bonus {
    padding-top: 3.4rem;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    background-color: #eef7e8;
    text-align: center;
    flex-wrap: wrap;
    letter-spacing: 1.8px;
    color: $dark-blue;
    &-before {
      font-weight: normal;
      font-size: 2.25rem;
    }
    &-text {
      display: block;
      margin-top: .5rem;
      font-size: 1.25rem;
      font-weight: bold;
    }
    &-size {
      font-size: 2.25rem;
    font-weight: bold;
    }
  }
}

//========= Showcase product

.showcase {
  &-product {
    width: 33.33%;
    flex-shrink: 0;
    background: #fff;
    padding-top: 4.3rem;
    text-align: center;
    .slick-arrow {
      color: #6b7381;
      background: none;
      border: none;
      cursor: pointer;
      position: absolute;
      left: 1.8rem;
      top: 9.5rem;
      z-index: 999;
      transition: 300ms;
      &:hover {
        color: #000;
      }
      i {
        font-size: 1.9rem;
      }
    }
    .slick-next {
      left: auto;
      right: 1.8rem;
    }
  }
  &-type {
    color: #C9D0D9;
    font-size: .95rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  &-img {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto .5rem;
    overflow: hidden;
    img {
      transition: 300ms;
      max-width: 80%;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &-product-name {
    color: $dark-blue;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    padding: 0 .5rem;
    line-height: 1.4;
    &:hover {
      color: $blue;
    }
  }
  &-prices {
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: .9rem;
    padding: 0 .5rem 1rem;
    > div {
      line-height: 1.4;
      margin-bottom: .3rem;
      &:last-child {
        font-size: .8rem;
      }
    }
  }
}

.blue-price {
  color: $blue;
  font-weight: bold;
  font-size: 1.1rem;
}

.dark-blue-price {
  color: $dark-blue;
  font-weight: bold;
  font-size: 1.1rem;
}

//========== Collection items

.collection-items {
  margin-bottom: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  &:last-child {
    margin-bottom: 0;
  }
  > div {
    width: 25%;
  }
}

.collection-right {
  .collection-item {
    border-left: 1px solid $bg;
    &:first-child {
      border-left: 0;
    }
  }
}

.collection-left {
  .collection-item {
    border-right: 1px solid $bg;
    &:last-child {
      border-left: 0;
    }
  }
}

.collection {
  &-item {
    background: #fff;
    text-align: center;
  }
  &-img {
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $bg;
    overflow: hidden;
    img {
      transition: 300ms;
      max-width: 80%;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &-name {
    margin: 2rem 0 1.5rem;
    padding: 0 .5rem;
    color: $dark-blue;
    line-height: 1.4;
    letter-spacing: .5px;
    font-size: 1.1rem;
    min-height: 3rem;
    &:hover {
      color: $blue;
    }
  }
  &-prices {
    font-size: .68rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 .5rem 1.6rem;
    > div {
      line-height: 1.4;
      &:last-child {
        margin-top: .5rem;
        font-size: .6rem;
      }
    }
    .dark-blue-price {
      font-size: .8rem;
    }
    .blue-price {
      font-size: .8rem;
    }
  }
  &-type {
    font-size: .95rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    color: $dark-blue;
    padding-top: 2.1rem;
    flex-shrink: 0;
  }
  &-brand-img {
    flex-grow: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 60%;
    }
  }
  &-brand-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
  }
  &-buy {
    display: block;
    background: $dark-blue;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 3.13rem;
    font-size: 0.81rem;
    letter-spacing: 3px;
    font-weight: bold;
    &:hover {
      background: $blue;
    }
  }
  &-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.81rem;
  }
}

.collection-brand {
  background-color: #faf2ef;
}

//============ Shares

.shares {
  padding-bottom: 7.5rem;
  &-wrap {
    background: $bg;
  }
  &-head {
    color: $dark-blue;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  &-item {
    width: 31.33%;
    margin-right: 3%;
    text-align: center;
    background-color: #e8f0f7;
    padding-top: 3.13rem;
    &:last-child {
      margin-right: 0;
    }
  }
  &-type {
    font-weight: 600;
    letter-spacing: 2px;
    color: $dark-blue;
    text-transform: uppercase;
    font-size: 0.94rem;
  }
  &-brand {
    height: 9.38rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 2px;
    line-height: 1.1;
    color: $dark-blue;
    &:hover {
      color: $blue;
    }
  }
  &-size {
    width: 80%;
    margin: 0 auto 1.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $dark-blue;
    font-weight: bold;
    font-size: 0.81rem;
    color: $dark-blue;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  &-until {
    width: 80%;
    margin: 0 auto;
    background: $dark-blue;
    color: #fff;
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: 2px;
    padding-top: .9rem;
    text-transform: uppercase;
    position: relative;
    z-index: 5;
  }
  &-time {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 2.5;
  }
  &-img {
    margin-top: -2.5rem;
    img {
      vertical-align: bottom;
    }
  }
}

//========= Footer

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
  &-wrap {
    border-top: 1px solid #e6e6e6;
    padding-top: 2.5rem;
  }
  &-head {
    font-weight: 600;
    font-size: 1rem;
    color: $dark-blue;
    letter-spacing: 1px;
    text-transform: uppercase;
    &-black {
      color: #000;
    }
  }
}

//======= Footer nav

.footer-nav {
  margin-top: 2.5rem;
  min-width: 12.5rem;
  li {
    margin-bottom: 1.2rem;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: #6b7381;
      &:hover {
        color: $dark-blue;
      }
    }
  }
}

//========== Footer payment

.footer-payment {
  width: 12.5rem;
  flex-shrink: 0;
  &-methods {
    display: flex;
    margin-top: 2.5rem;
    margin-bottom: 2.1rem;
    justify-content: space-between;
  }
  &-text {
    p {
      margin-bottom: 1rem;
      letter-spacing: .5px;
      font-size: 0.88rem;
      color: $dark-blue;
      line-height: 1.4;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  img {
    height: 2rem;
  }
}

//=== Footer subscribe

.footer {
  &-sub {
    width: 25rem;
    flex-shrink: 0;
  }
  &-descr {
    font-size: 1rem;
    margin: 1rem 0 2rem;
    font-weight: 600;
    .size {
      font-weight: bold;
      color: $blue;
    }
    .units {
      color: $blue;
    }
  }
  &-button {
    text-align: right;
    margin-top: .3rem;
  }
}

.input {
  margin-bottom: 20px;
  input {
    width: 100%;
    font-size: 0.81rem;
    height: 2.5rem;
    background: #fff;
    border: solid 1px #c6cdd7;
    font-family: inherit;
    padding: 0 1.5rem;
  }
}

//======== Footer line

.footer-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  &-wrap {
    border-top: 1px solid #e6e6e6;
  }
}

.copy {
  color: #8a93a3;
}

.social {
  ul {
    display: flex;
    li {
      margin-left: 1.5rem;
      &:first-child {
        margin-left: 0;
      }
      a {
        font-size: 1.1rem;
        color: $dark-blue;
      }
    }
  }
}

//======== Free delivery

.free-delivery {
  background-color: #e2ecf5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 1rem;
  &-text {
    color: $dark-blue;
    letter-spacing: 1px;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 1rem;
  }
}

//====== Location modal

#location-modal {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
}

.location {
  &-container {
    width: 860px;
    margin: 0 auto;
  }
  &-modal {
    .head {
      height: auto;
      padding: 7.5rem 0 3.75rem;
      justify-content: flex-start;
    }
  }
  &-cities {
    padding-bottom: 3rem;
    border-bottom: 1px solid #d8d8d8;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 33.33%;
        margin-bottom: 2rem;
      }
    }
    label {
      display: flex;
      align-items: center;
      cursor: pointer;
      &.checked {
        .city {
          color: $blue;
        }
      }
      .city {
        color: #c6cdd7;
        letter-spacing: .6px;
        font-size: 1.25rem;
        transition: 300ms;
      }
    }
  }
}

.location-manually {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5rem;
  &-text {
    padding: 3rem 0 2.5rem;
    color: $dark-blue;
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .input {
    max-width: 420px;
    margin-bottom: 0;
    display: block;
    width: 100%;
  }
}

.modal {
  display: none;
}

.fancybox-close-small {
  right: 3rem;
  top: 3rem;
  &:hover:after {
    background: none;
  }
  &:after {
    transition: 300ms;
    font-size: 50px;
  }
}

//====== Custom input type radio

.radio {
  width: 16px;
  height: 16px;
  position: relative;
  margin-right: 1rem;
  span {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #c6cdd7;
    border-radius: 50%;
    z-index: 3;
    transition: 300ms;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      border: 5px solid $blue;
      opacity: 0;
      transition: 300ms;
    }
  }
  input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    z-index: 5;
    &:checked + span {
      background: #fff;
      &:after {
        opacity: 1;
      }
    }
  }
} 

//======== Signup header

.signup-header {
  padding: 6.56rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-content {
    font-size: 2rem;
    max-width: 630px;
    color: $dark-blue;
    .semibold {
      line-height: 1.4;
    }
    .light {
      margin-bottom: 2rem;
      line-height: 1.4;
    }
    .small {
      font-size: 1.63rem;
      line-height: 1.4;
    }
  }
  &-img {
    img {
      width: 320px;
    }
  }
}

//========== Signup advantages

.signup-advan {
  position: relative;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  &-wrap {
    position: relative;
    &.faq-advan {
      &:after {
        height: auto;
        bottom: -11rem;
      }
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 5rem;
      height: 583px;
      background: $dark-blue;
    }
  }
  &-item {
    width: 31.33%;
    margin-right: 3%;
    background-color: #e2ecf5;
    padding: 1.5rem 1.8rem 1.8rem;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.16);
    &:last-child {
      margin-right: 0;
    }
  }
  &-number {
    font-weight: bold;
    font-size: .95rem;
    margin-bottom: .3rem;
    color: $blue;
    letter-spacing: 1px;
  }
  &-head {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.4;
    letter-spacing: 1px;
    color: $dark-blue;
    margin-bottom: 1rem;
  }
  &-text {
    color: #1e1e3c;
    letter-spacing: .8px;
    line-height: 1.4;
    font-size: .88rem;
  }
}

//========== Signup form

.signup-form {
  position: relative;
  z-index: 3;
  &-wrap {
    background: $bg;
  }
  .head {
    color: #fff;
  }
  form {
    width: 510px;
    background: #fff;
    margin: 0 auto;
    text-align: center;
    padding: 2.7rem 3.1rem;
  }
  &-head {
    color: $dark-blue;
    font-size: 1.25rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    font-weight: 600;
  }
  &-promocode {
    padding: 0 0 1.2rem;
    text-align: left;
    font-size: .88rem;
    letter-spacing: .5px;
    color: #6b7381;
    line-height: 1.4;
  }
  &-agreement {
    line-height: 1.5;
    font-size: .8rem;
    color: #323232;
    font-weight: 300;
    padding: 0 1.5rem 1.2rem;
    a {
      font-weight: 300;
      color: $dark-blue;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .btn {
    width: 100%;
  }
  &-or {
    margin: 2rem 0;
    text-align: center;
    overflow: hidden;
    .word {
      color: #8a93a3;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-size: .8rem;
      position: relative;
      &:before {
        content: '';
        display: block;
        height: 1px;
        width: 300px;
        background: #d8d8d8;
        position: absolute;
        right: 100%;
        margin-right: 1rem;
        top: 50%;
      }
      &:after {
        content: '';
        display: block;
        height: 1px;
        width: 300px;
        background: #d8d8d8;
        position: absolute;
        left: 100%;
        margin-left: 1rem;
        top: 50%;
      }
    }
  }
  &-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    &-link {
      width: 45%;
      display: flex;
      align-items: center;
      line-height: 2.5rem;
      padding-left: 1.5rem;
      color: #fff;
      letter-spacing: .5px;
      font-size: .88rem;
      i {
        color: #fff;
        font-size: 1.2rem;
        margin-right: 1.2rem;
      }
      &.fb {
        background-color: #3b5999;
      }
      &.vk {
        background-color: #4c75a3;
      }
    }
  }
  &-already-have {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.25rem;
    color: $dark-blue;
    margin-bottom: 2.2rem;
  }
}

//========= Collection sliders

.collection-sliders {
  display: flex;
  padding-bottom: 7.5rem;
  &-wrap {
    background: $bg;
  }
  .head {
    color: $dark-blue;
  }
  .showcase-product {
    padding-top: 0 !important;
    &-item {
      border-right: 1px solid $bg;
      &:last-child {
        border-right: 0;
      }
    }
  }
  .showcase-product .slick-arrow {
    top: 6.5rem;
  }
}

.showcase-brand {
  display: block;
  height: 220px;
  &-img {
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 70%;
    }
  }
  &-text {
    text-align: center;
    color: $dark-blue;
    font-size: .95rem;
    line-height: 1.4;
    padding: 0 1.5rem;
  }
}

//============= Faq

.faq {
  &-wrap {
    position: relative;
    z-index: 5;
    .head {
      color: #fff;
    }
  }
  &-bg {
    background: $bg;
    padding: 2rem 0 7.5rem;
  }
  &-item {
    color: #1e1e3c;
    padding: 1.8rem 0;
    border-bottom: 1px solid #d8d8d8;
    &:last-child {
      border-bottom: 0;
    }
  }
  &-ask {
    font-size: 1.25rem;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  &-answer {
    line-height: 1.5;
    font-size: 1.1rem;
    padding-left: 1.3rem;
    border-left: 3px solid $blue;
    font-weight: 300;
    letter-spacing: 1px;
  }
}

.more {
  margin-top: 2rem;
  button {
    line-height: 2.5rem;
    border: solid 1px #c6cdd7;
    text-align: center;
    color: $dark-blue;
    width: 100%;
    background: none;
    cursor: pointer;
    transition: 300ms;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 3px;
    font-weight: 600;
    &:hover {
      border: 1px solid $dark-blue;
    }
  }
}

//======== Campaign

.campaign {
  text-align: center;
  padding: 3.75rem 0;
  &-label {
    color: $dark-blue;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: .95rem;
    margin-bottom: 3rem;
  }
  &-img {
    max-width: 180px;
    display: block;
    margin: 0 auto 3rem;
  }
  &-descr {
    color: #6b7381;
    font-size: .95rem;
    line-height: 2;
    max-width: 650px;
    margin: 0 auto 3.75rem;
  }
  &-time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    img {
      margin: 0 1.5rem;
    }
  }
  &-start {
    letter-spacing: 1px;
    font-weight: 600;
    color: #8a93a3;
  }
  &-finish {
    letter-spacing: 1px;
    font-weight: 600;
    color: $dark-blue;
  }
  &-timer {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .countdown-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .countdown-period {
      text-align: center;
      height: 1.5rem;
      font-size: .6rem;
      margin-top: 1rem;
      color: #B7BCC6;
    }
    .countdown-amount {
      background: none;
      width: 3rem;
      height: 3.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      color: $dark-blue;
      border: solid 1px #c6cdd7;
      letter-spacing: 1.6px;
    }
  }
}

//======= Campaign product

.cam-product {
  display: flex;
  &-wrap {
    background: $bg;
    padding: 3.75rem 0 1.8rem;
  }
  &-info {
    width: 18.75rem;
    flex-shrink: 0;
    background-color: #faf2ef;
  }
  &-img {
    background-size: cover;
    background-position: 50%;
    flex-grow: 10;
    background-repeat: no-repeat;
  }
  &-brand {
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 70%;
    }
  }
  &-text {
    font-size: .95rem;
    line-height: 1.4;
    color: $dark-blue;
    padding: 0 1.5rem;
    margin-bottom: 1.8rem;
    text-align: center;
  }
  &-bonus {
    display: block;
    margin: 0 auto 1.8rem;
    width: 5.31rem;
    height: 5.31rem;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    color: $dark-blue;
    padding-top: 1.5rem;
    .before {
      font-size: 1.1rem;
      letter-spacing: .8px;
      font-weight: 300;
    }
    .size {
      font-size: 1.1rem;
      letter-spacing: .8px;
      font-weight: bold;
    }
    .for-what {
      font-size: 0.63rem;
      letter-spacing: .8px;
      display: block;
      font-weight: bold;
      margin-top: .3rem;
    }
  }
  &-buy {
    width: 100%;
    background: $dark-blue;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-size: .8rem;
    text-align: center;
    line-height: 3.13rem;
    font-weight: bold;
    &:hover {
      background: $blue;
    }
  }
}

//======= Products

.products {
  display: flex;
  flex-wrap: wrap;
  &-wrap {
    background: $bg;
    padding-bottom: 7rem;
  }
  &-item {
    background: #fff;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 2%;
    position: relative;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
  &-label {
    position: absolute;
    left: 0;
    top: 1.25rem;
    width: 6.25rem;
    background: $blue;
    color: #fff;
    text-align: center;
    padding: .3rem 0;
    z-index: 10;
    font-size: 0.63rem;
    &.not-available {
      background: #f4226b;
    }
  }
  &-img {
    height: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      transition: 300ms;
      max-width: 90%;
      max-height: 90%;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &-name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    padding: 0 .5rem;
    a {
      color: $dark-blue;
      text-align: center;
      letter-spacing: 1px;
      font-size: 1.1rem;
      line-height: 1.4;
      &:hover {
        color: $blue;
      }
    }
  }
  &-prices {
    text-align: center;
    font-size: 0.69rem;
    text-transform: uppercase;
    color: #4a4a4a;
    margin-bottom: 1.25rem;
    .dark-blue {
      font-weight: bold;
      font-size: .88rem;
      color: $dark-blue;
    }
    .blue {
      font-weight: bold;
      font-size: .88rem;
      color: $blue;
    }
    > div {
      margin-top: .5rem;
    }
  }
  &-add {
    width: 100%;
    text-align: center;
    line-height: 3.13rem;
    background: #f6f8fb;
    text-transform: uppercase;
    color: $dark-blue;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .9px;
    font-size: 0.75rem;
    &:hover {
      background: $dark-blue;
      color: #fff;
    }
    i {
      margin-right: 1rem;
    }
  }
}
