<!-- Footer -->

<div class="footer-wrap">
  <div class="container">
    <div class="footer">
      <div class="footer-item">
        <h3 class="footer-head">Меню</h3>
        <ul class="footer-nav">
          <li>
            <a href="#">Коллекции</a>
          </li>
          <li>
            <a href="#">Что такое Frogogo?</a>
          </li>
          <li>
            <a href="#">Бренды</a>
          </li>
          <li>
            <a href="#">Возврат денег</a>
          </li>
          <li>
            <a href="#">Доставка</a>
          </li>
        </ul>
      </div>
      <div class="footer-item">
        <h3 class="footer-head">Помощь</h3>
        <ul class="footer-nav">
          <li>
            <a href="#">О нас</a>
          </li>
          <li>
            <a href="#">Карьера</a>
          </li>
          <li>
            <a href="#">Поставщики</a>
          </li>
          <li>
            <a href="#">Партнерская программа</a>
          </li>
          <li>
            <a href="#">Конфиденциальность</a>
          </li>
          <li>
            <a href="#">Публичная оферта</a>
          </li>
        </ul>
      </div>
      <div class="footer-item footer-payment">
        <h3 class="footer-head">Способы оплаты</h3>
        <div class="footer-payment-methods">
          <img src="images/logo-footer-mastercard.png" alt="">
          <img src="images/logo-footer-visa.png" alt="">
          <img src="images/logo-footer-alfabank.png" alt="">
        </div>
        <div class="footer-payment-text">
          <p>Вы можете оплатить покупки наличными или банковской картой при получении заказа.</p>
          <p>Либо оплатить заказ онлайн на сайте.</p>
        </div>
      </div>
      <div class="footer-item footer-sub">
        <h3 class="footer-head footer-head-black">Подпишитесь на нашу рассылку</h3>
        <div class="footer-descr">
          и получите
          <span class="size">500</span>
          <span class="units">рублей</span> на бонусный счет
        </div>
        <form action="" class="footer-sub-form">
          <div class="input">
            <input type="email" placeholder="Электронная почта" required>
          </div>
          <div class="input">
            <input type="text" placeholder="Пароль">
          </div>
          <div class="footer-button">
            <button type="submit" class="btn">Подписаться</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-line-wrap">
    <div class="container">
      <div class="footer-line">
        <div class="copy">© frogogo 2017</div>
        <div class="social">
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook-official"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-vk"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
