<!-- Header -->

<div class="header-wrap">
  <div class="container">

    <div class="header">
      <div class="header-info">
        <a href="#location-modal" data-fancybox class="location">
          <i class="fa fa-map-marker"></i>
          <div class="location-city">Москва</div>
        </a>
        <form action="" class="search">
          <i class="fa fa-search"></i>
          <input type="text" placeholder="ПОИСК">
        </form>
      </div>
      <div class="logo">
        <a href="/">
          <img src="images/logo-header-frogogo.svg" alt="">
        </a>
      </div>
      <div class="login">
        <a href="#" class="login-link bold">Регистрация</a>
        <div class="login-separate">/</div>
        <a href="#" class="login-link">вход</a>
        <img class="login-img" src="images/icon-header-user.svg" alt="">
      </div>
    </div>

    <!-- Navigation -->

    <div class="navigation">
      <div class="nav">
        <div class="burger-wrap">
          <a href="#">
            <span></span>
          </a>
        </div>
        <ul>
          <li>
            <a href="#">Коллекции</a>
          </li>
          <li>
            <a href="#">Что такое Frogogo?</a>
          </li>
          <li>
            <a href="#">Бренды</a>
          </li>
          <li>
            <a href="#">Возврат денег</a>
          </li>
          <li>
            <a href="#">Доставка</a>
          </li>
        </ul>
      </div>
      <div class="to-cart">
        <a class="to-cart-link" href="#">
          корзина
          <i class="fa  fa-shopping-cart"></i>
        </a>
      </div>
    </div>

  </div>
</div>
