<!-- Modal change password -->

<div id="modal-change-password" class="modal">
  <form action="" class="change-password">
    <div class="change-password-head">Изменить пароль</div>
    <div class="input">
      <input type="text" placeholder="Старый пароль">
    </div>
    <div class="input">
      <input type="text" placeholder="Новый пароль">
    </div>
    <div class="input">
      <input type="text" placeholder="Повторите новый пароль">
    </div>
    <div class="change-password-notification">
      Новый пароль не должен совпадать со старым
    </div>
    <button class="btn">Сохранить</button>
  </form>
</div>
